{% extends 'base-layout.html' %}
{% block title %} Maintenance | Document Type {% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Maintenance</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-custom-blue">
            <h6 class="m-0 font-weight-bold text-white">Delete Document Type</h6>
        </div>
        <div class="card-body">
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mb-4">
                                Are you sure you want to delete <b>{{ documenttype.code }} - {{ documenttype.description }}</b>?
                            </p>
                        </div>
                    </div>
                    
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'documenttype:index' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}