{% extends 'base-layout.html' %}
{% block title %} Maintenance | CAS Type {% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Maintenance</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-custom-blue">
            <h6 class="m-0 font-weight-bold text-white">CAS Type</h6>
        </div>
        <div class="card-body">
            <div class="float-right mb-4">
                {% if perms.castype.add_castype %}
                    <a href="{% url 'castype:create' %}" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i> Create New
                    </a>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="font-weight-bold text-dark">
                            <th>ID</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for castype in data_list %}
                            <tr class="hover-row">
                                <td>{{ castype.id }}</td>
                                <td>{{ castype.code }}</td>
                                <td>{{ castype.description }}</td>
                                <td>{{ castype.get_status_display }}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="dropdown mr-2">
                                            <button class="btn btn-sm btn-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a href="{% url 'castype:update' castype.pk %}" class="dropdown-item btn-edit">
                                                    <i class="fas fa-pencil-alt text-primary"></i>&nbsp;&nbsp;Edit
                                                </a>
                                                <a href="{% url 'castype:delete' castype.pk %}" class="dropdown-item btn-delete">
                                                    <i class="fas fa-trash text-danger"></i>&nbsp;&nbsp;Delete
                                                </a>
                                            </div>
                                        </div>
                                    
                                        <a href="{% url 'castype:detail' castype.pk %}" title="View">
                                            <i class="fas fa-th-list"></i>
                                        </a>
                                        
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}
