{% extends 'base-layout.html' %}
{% block title %} Maintenance | EIS Credential {% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Maintenance</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-custom-blue">
            <h6 class="m-0 font-weight-bold text-white">EIS Credential Details</h6>
        </div>
        <div class="card-body">
            
        </div>
    </div>

{% endblock %}