{% extends 'base-layout.html' %}
{% block title %} Maintenance | EIS Credential {% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Maintenance</h1>
    </div>
    <div class="alert alert-danger mb-4 alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="mb-0"><strong>Confidential Information:</strong> This page contains confidential information, including API credentials. Please do not share or expose this information.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-gradient-custom-blue">
                        <h6 class="m-0 font-weight-bold text-white">Edit EIS Credential
                            {% if eiscredential.access_level|lower == 'u' %}
                                (Sandbox) <i class="fas fa-circle text-gray-500"></i>
                            {% elif eiscredential.access_level|lower == 'p' %}
                                (Live) <i class="fas fa-circle text-success"></i>
                            {% endif %}
                        </h6>
                    </div>
                    <div class="card-body">
                         
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <label for="id_public_key" class="form-label">Public Key:</label>
                                    <input type="text" name="public_key" class="form-control" required id="id_public_key" value="{{ eiscredential.public_key }}">
                                    <span class="form-text text-danger">{{ form.public_key.errors.as_text }}</span>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_user_id" class="form-label">User ID:</label>
                                    <input type="text" name="user_id" class="form-control" maxlength="250" required id="id_user_id" value="{{ eiscredential.user_id }}">
                                    <span class="form-text text-danger">{{ form.user_id.errors.as_text }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_user_password" class="form-label">Password:</label>
                                    <input type="text" name="user_password" class="form-control" maxlength="20" id="id_user_password" value="{{ eiscredential.user_password }}">
                                    <span class="form-text text-danger">{{ form.user_password.errors.as_text }}</span>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_application_id" class="form-label">Application ID:</label>
                                    <input type="text" name="application_id" class="form-control" maxlength="20" id="id_application_id" value="{{ eiscredential.application_id }}">
                                    <span class="form-text text-danger">{{ form.application_id.errors.as_text }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_application_secret_key" class="form-label">Application Secret Key:</label>
                                    <input type="text" name="application_secret_key" class="form-control" maxlength="250" id="id_application_secret_key" value="{{ eiscredential.application_secret_key }}">
                                    <span class="form-text text-danger">{{ form.application_secret_key.errors.as_text }}</span>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_accreditation_id" class="form-label">Accreditation ID (EIS Cert No.):</label>
                                    <input type="text" name="accreditation_id" class="form-control" maxlength="250" id="id_accreditation_id" value="{{ eiscredential.accreditation_id }}">
                                    <span class="form-text text-danger">{{ form.accreditation_id.errors.as_text }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_jws_key_id" class="form-label">JWS Key ID:</label>
                                    <input type="text" name="jws_key_id" class="form-control" maxlength="250" id="id_jws_key_id" value="{{ eiscredential.jws_key_id }}">
                                    <span class="form-text text-danger">{{ form.jws_key_id.errors.as_text }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="id_force_refresh_token" class="form-label">Force Refresh Token:</label>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="id_force_refresh_token" name="force_refresh_token" {% if eiscredential.force_refresh_token == 'true' %} checked {% endif %}>
                                        <label class="custom-control-label" for="id_force_refresh_token">On/Off</label>
                                        <span class="form-text text-danger">{{ form.force_refresh_token.errors.as_text }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_authentication_url" class="form-label">Authentication URL:</label>
                                    <input type="text" name="authentication_url" class="form-control" maxlength="250" id="id_authentication_url" value="{{ eiscredential.authentication_url }}">
                                    <span class="form-text text-danger">{{ form.authentication_url.errors.as_text }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="id_invoices_url" class="form-label">Invoice Issuance URL</label>
                                    <input type="text" name="invoices_url" class="form-control" maxlength="250" id="id_invoices_url" value="{{ eiscredential.invoices_url }}">
                                    <span class="form-text text-danger">{{ form.invoices_url.errors.as_text }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="mb-4">
                                        <label for="id_inquiry_result_url" class="form-label">Inquiry Result URL</label>
                                        <input type="text" name="inquiry_result_url" class="form-control" maxlength="250" id="id_inquiry_result_url" value="{{ eiscredential.inquiry_result_url }}">
                                        <span class="form-text text-danger">{{ form.inquiry_result_url.errors.as_text }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        function updateLabel(input) {
            if (input.files.length > 0) {
                document.getElementById("logoLabel").innerHTML = input.files[0].name;
            } else {
                document.getElementById("logoLabel").innerHTML = "Choose file";
            }
        }
    </script>
{% endblock %}