<fieldset>
    <h3>Verify Your Identity</h3>
    <h6>Please upload any of these documents to verify your Identity.</h6>
    
    <button type="button" class="action-button previous previous_button">Back</button>
    <button type="button" class="next action-button">Continue</button>  
</fieldset>  
<fieldset>
    <h3>Create Security Questions</h3>
    <h6>Please update your account with security questions</h6> 
    
    <button type="button" class="action-button previous previous_button">Back</button> 
    <a href="#" class="action-button">Finish</a> 
</fieldset>