.bg-gradient-custom-blue{
    background-image: linear-gradient(to right, #285e91, #0076b3);
}

.login-bg-logo{
    background-position:center;background-size:cover
}

.btn-primary {
    background-color: #0056b3;
    color: #fff;
    border-color: #0056b3;
}
.btn-primary:hover {
    background-color: #004199;
    border-color: #004199;
}
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.5);
}


/*custom alert modal*/
.custom-alert{
    position: fixed;
    z-index: 999999;
    right: 0;
    margin: 20px;
    font-weight: bold;
}

.number-right{
    text-align: right !important;
}

/* data list */
.table {
    background-color: #f5f8ff; /* Change the background color to a light blue */
}
/* Set font color for the table rows */
.hover-row td {
    color: #202124; /* Set the font color to a dark gray similar to Gmail */
}
/* Add hover effect for clickable rows */
.hover-row {
    transition: box-shadow 0.2s, border 0.2s, transform 0.2s; /* Add transitions for smooth animation */
}
.hover-row:hover {
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}


/* loading screen */
#loading-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#loading-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#loading-icon img {
    width: 280px;
    height: 200px;
}
#loading-icon p {
    color: #111111;
    font-size: 16px;
    text-align: center;
    margin-top: -40px;
    font-weight: 400;
}

/* data listing table */
.table-container{
    overflow: auto;
}
.datalist-table {
    width: auto;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
    white-space: nowrap;
}
.datalist-table td {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    padding: 6px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}
.datalist-table tfoot td {
    border: none;
}
/* Header styling */
.datalist-table th {
    background-color: #f8f9fa;
    font-weight: 600;
    color: #333;
    position: relative;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #dee2e6
}
.sortable-column {
    cursor: pointer;
}
/* Arrow icon styling */
.sortable-column i {
    font-size: 10px;
    vertical-align: middle;
    margin-left: 5px;
    transition: transform 0.3s ease;
}
.sortable-column.asc i {
    transform: translateY(-50%) rotate(180deg);
}
/* .datalist-table thead, tbody, tr{
    display: table;
    width: 100%;
    table-layout: fixed;
} */
/* .datalist-table thead { */
    /* scrollbar is average 1em/16px width, remove it from thead width */
    /* width: calc( 100% - 1em )
} */
/* .datalist-table tbody{
    display: block;
    max-height: 300px;
    overflow: auto;
} */
/* Data row styling */
.datalist-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}
.datalist-table tbody tr:hover {
    background-color: #e2e6ea;
}