
<!-- '''Important''' Dito tayo kumuha ng html templates na ginagamit sa buong system -->


<!-- DATE RANGE -->
<div class="form-group">
    <label for="date-range">Date Range</label>
    <div class="input-group" id="date-range">
      <input type="text" class="form-control" name="start" placeholder="From" required data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
        </div>
        <input type="text" class="form-control" name="end" placeholder="To" required data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
    </div>
</div>
<!-- END DATE RANGE -->