<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BIR EIS - Sales Data Transmission System">
    <meta name="author" content="The Philippine Daily Inquirer, Inc.">
    <link type="image/x-icon" href="{% static 'images/web/favicon-logo.ico' %}" rel="shortcut icon" />
    <title>{% block title %} BIR EIS - Sales Data Transmission System {% endblock title %}</title>

    <!-- Custom fonts for this template-->
    <link rel='stylesheet' href="{% static 'css/multistep-form/icons/ionicons.min.css' %}">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Core plugin CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/multistep-form/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/multistep-form/demo.css' %}"> -->

    <!-- jquery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

</head>

<body id="page-top">
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- <span>BIR EIS - TAXPAYER PORTAL (Sales Data Transmission System v1.0.0)</span> -->
                        <!-- <span class="ml-auto">Sales Data Transmission System</span> -->

                        <span>BIR EIS - TAXPAYER PORTAL (Sales Data Transmission System v1.0.0)</span>
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>
                        
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link" href="#" id="userDropdown" role="button"
                                     aria-haspopup="true" aria-expanded="false">
                                    <div class="img-profile rounded-circle">
                                        <svg class="w-5 h-5 mr-2 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </div>
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                        {% if request.user.is_authenticated %}
                                            {{ request.user.username }}
                                        {% else %}
                                            You are not logged in.
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                <!-- End of Topbar -->

                <div id="loading-overlay">
                    <div id="loading-icon">
                        <img src="/media/straight-loader.gif" alt="Loading...">
                        <p class="bg-white">Just a moment while we fetch the information.</p>
                    </div>
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    {% block content %}

                    {% endblock %}
                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

     <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    

    
    <!-- Popper JS -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script> -->
    <!-- jQuery Nice Select JS -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script> -->
    <!-- Initialization -->
    <!-- <script src="{% static 'js/multistep-form/script.js' %}"></script> -->
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>