<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BIR EIS - Sales Data Transmission System">
    <meta name="author" content="The Philippine Daily Inquirer, Inc.">
    <link type="image/x-icon" href="{% static 'images/web/favicon-logo.ico' %}" rel="shortcut icon" />
    <title>{% block title %} BIR EIS - Sales Data Transmission System {% endblock title %}</title>

    <!-- Custom fonts for this template-->
    <link rel='stylesheet' href="{% static 'css/multistep-form/icons/ionicons.min.css' %}">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Core plugin CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/multistep-form/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/multistep-form/demo.css' %}"> -->

    <!-- jquery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

</head>

<body id="page-top">
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <span>BIR EIS - TAXPAYER PORTAL (Sales Data Transmission System v1.0.0)</span>
                        <!-- <span class="ml-auto">Sales Data Transmission System</span> -->
                    </nav>
                <!-- End of Topbar -->

                <div id="loading-overlay">
                    <div id="loading-icon">
                        <img src="/media/straight-loader.gif" alt="Loading...">
                        <p>Loading...</p>
                    </div>
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    {% block content %}

                    {% endblock %}
                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Logout Modal-->

     <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    

    
    <!-- Popper JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <!-- jQuery Nice Select JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script>
    <!-- Initialization -->
    <!-- <script src="{% static 'js/multistep-form/script.js' %}"></script> -->
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>