{% load static %}
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-8 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-gradient-custom-blue">
                <h6 class="m-0 font-weight-bold text-white">Data Transfer Rate</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Sales Invoice <span
                        class="float-right">0%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 0%"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Service Billing <span
                        class="float-right">0%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 0%"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Official Receipt <span
                        class="float-right">0%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 0%"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Debit Memo <span
                        class="float-right">0%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 0%"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Credit Memo <span
                        class="float-right">0%</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 0%"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- Pie Chart -->
    <div class="col-lg-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-custom-blue">
                <h6 class="m-0 font-weight-bold text-white">Transfer Status Ratio</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Pie Chart Types:</div>
                        <a class="dropdown-item" href="#">Basic Pie Chart</a>
                        <a class="dropdown-item" href="#">Polar Area</a>
                        <a class="dropdown-item" href="#">Doughnut Chart</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Don't show Pie Chart</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Success
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> Failed
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Processing
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>