/*font Variables*/
/*Color Variables*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900");
.multi_step_form {
  background: #f6f9fb;
  display: block;
  overflow-x: hidden;
}
.multi_step_form #msform {
  text-align: center;
  position: relative;
  padding-top: 10px;
  min-height: 820px;
    height: auto;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  z-index: 1;
}
.multi_step_form #msform .tittle {
  text-align: center;
  padding-bottom: 15px;
}
.multi_step_form #msform .tittle h2 {
  font: 500 24px/35px "Roboto", sans-serif;
  color: #3f4553;
  padding-bottom: 5px;
}
.multi_step_form #msform .tittle p {
  font: 400 16px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset {
  border: 0;
  padding: 20px 20px 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}
.multi_step_form #msform fieldset h3 {
  font: 500 18px/35px "Roboto", sans-serif;
  color: #3f4553;
}
.multi_step_form #msform fieldset h6 {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
  padding-bottom: 30px;
}
.multi_step_form #msform fieldset .form-group {
  padding: 0 10px;
}
.multi_step_form #msform fieldset .fg_2, .multi_step_form #msform fieldset .fg_3 {
  padding-top: 10px;
  display: block;
  overflow: hidden;
}
.multi_step_form #msform fieldset .done_text {
  padding-top: 40px;
}
.multi_step_form #msform fieldset .done_text .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  margin-bottom: 10px;
  background: #1d6195;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .done_text h6 {
  line-height: 23px;
}
.multi_step_form #msform fieldset .code_group {
  margin-bottom: 60px;
}
.multi_step_form #msform fieldset .code_group .form-control {
  border: 0;
  border-bottom: 1px solid #a1a7ac;
  border-radius: 0;
  display: inline-block;
  width: 30px;
  font-size: 30px;
  color: #5f6771;
  padding: 0;
  margin-right: 7px;
  text-align: center;
  line-height: 1;
}
.multi_step_form #msform #progressbar {
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
}
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100%/3);
  float: left;
  position: relative;
  font: 500 13px/1 "Roboto", sans-serif;
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  content: "\f3b6";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  content: "\f120";
}
.multi_step_form #msform #progressbar li:before {
  content: "\f3ec";
  font: normal normal normal 30px/50px Ionicons;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #1d6195;
}
.multi_step_form #msform #progressbar li.done {
  color: #1d6195;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #1d6195;
  color: white;
}
.multi_step_form #msform #progressbar li.done:before, .multi_step_form #msform #progressbar li.done:after {
  background: #1d6195;
  color: white;
}
.multi_step_form #msform .action-button {
  background: #1d6195;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #1d6195;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
  background: #405867;
  border-color: #405867;
}
.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
  text-decoration: none;
  background: #405867;
  border-color: #405867;
  color: #fff;
}

.tbl-data-retrieval thead{
  position: sticky;
  top: 0;
  z-index: 1;
}
.tbl-data-retrieval tfoot{
  position: sticky;
  bottom: 0;
  z-index: 1;
}

/* Style for the error list container */
.error-list-container {
  background-color: #f8f9fa; /* Card background color */
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 2rem;
  text-align: left; /* Align text to the left */
  overflow: auto;
  max-height: 585px;
}

/* Style for the error list heading */
.error-list-heading {
  margin-bottom: 10px; 
  padding: 10px 5px;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
}
.error-list-heading h3{
  font-size: 18px;
}
.error-list-heading span{
  margin-right: 0;
}
.error-table {
  width: 100%;
  border-collapse: collapse;
}
.error-table td {
  padding: 8px;
  border: 1px solid #eaf0f4;
}
.error-label {
  color: #1d6195;
  font-weight: bold;
  vertical-align: top;
  padding-right: 10px;
}
.error-messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.error-messages li {
  color: #fa8072;
  margin-left: 20px;
  margin-bottom: 5px;
}
